.NavbarItems{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.525);
    height: 80px;
    width: 95%;
    border-radius: 13px;
    position: fixed;
    top:20px;
    left:50%;
    transform: translate(-50%,0);

}

.navbar-logo{
    height: 3rem;
    width: 8rem;
    border-radius: 50%;
    margin-left: 20px;
    color: #f9660bee;
    cursor: pointer;
}

.nav-menu{
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
}

.nav-links{
  color: #000;
  text-decoration: none;
  padding: 0.7rem 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  white-space: nowrap;
}
.nav-menu li a.aactive {
  color: #f9660bee; 
}
.nav-links i {
  margin-right: 0.5rem;

}
.nav-links:hover{
  color: #f9660bee;
  text-underline-offset: 0.5rem;
  transition: all 0.3s ease;
}


.NavbarItems .button{
  padding: 0.7rem 1rem;
  white-space: nowrap;
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  color: rgb(0, 102, 255);
}
.NavbarItems .button:hover{
  background-color: #f9660bee;
  color: #fff;
  transition: all 0.3s ease;
  box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58,57,57);
}

.menu-icons{
  display: none;
  
}

.dropdown-container {
  position: relative;
  display: inline-block;
}
.dropdown-container:hover .dropdown-options {
  display: block;
}
.dropdown-container:hover .dropdown-btn {
  background-color: #f1f1f1;
}
.dropdown-container img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown-options {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-options ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-options ul li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.dropdown-options ul li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.dropdown-options ul li i {
  margin-right: 10px;
  color: #333;
  background-color: #ccc;
  border-radius: 50%;
  padding: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.dropdown-options ul li:hover {
  color: #f9660bee;
  background-color: #f2f2f2;
}

.dropdown-options ul li span {
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

.dropdown-options ul li i:hover {
  color: #f9660bee;
}


@media screen and (max-width: 768px) {
  .profile-container {
    width:80%
  }
  
  .profile-container h2 {
    font-size: 1.2rem;
  }
  
  .profile-container p {
    font-size: 0.9rem;
  }
  
  .profile-container input[type="password"] {
    max-width: 300px;
    padding: 5px;
  }
  
  .profile-container button {
    padding: 5px 10px;
  }
}

@media screen and (max-width: 480px) {
  .profile-container {
    width: 90%;
    padding: 10px;
  }
}


@media screen and (max-width: 900px){
  .NavbarItems{
    z-index: 99;
  }
  
  .nav-menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: -105%;
    opacity: 0;
    border-radius: 13px;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
    transition: all 0.5s ease-in-out;
    
    
  }
  .nav-menu.active{
    left: 0;
    opacity: 1;
    z-index: -1;
    transition: all 0.5s ease-in-out;
  }
  .nav-links{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    padding: 2rem 0;
  }
  .nav-links:hover{
    background-color: #fe9955e1;
    color: #fff;
    transition: none;
  }
  
  .nav-links-mobile{
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin:auto;
    border-radius: 15px;
    width: 80%;
    background-color: #f88a2f;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .button{
    width: 80%;
    align-self: center;
  }
  .menu-icons{
    display: block;
    font-size: 1.8rem;
    cursor: pointer;
    color: #f9660bee;
  }
  .menu-icons i{
    font-size: 1.2rem;
    color:#222;
  }
  

}