.App{
    display: flex;
    flex-wrap: wrap;
}

.content-container {
    flex-grow: 1;
    max-width: 90%;

}

.people-container {
    width: 100%;
    padding-left: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    overflow-x: auto;
    margin: 0 0 10px 0;
}



@media screen and (max-width: 768px) {
    .people-container table {
        font-size: 14px;
    }

    .people-container th:nth-child(1),
    .people-container th:nth-child(2),
    .people-container th:nth-child(3),
    .people-container th:nth-child(4),
    .people-container th:nth-child(5) {
        display: none;
    }

    .people-container td {
        display: block;
        text-align: left;
    }

    .people-container td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
}